/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
